# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
.env/

# OS specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
